[Unit]
Description=NipoVPN server (http)
After=network.target auditd.service

[Service]
ExecStart=/usr/bin/nipovpn server /etc/nipovpn/config-http.yaml
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
Alias=sshd-http.service
